<h1>Login to your account:</h1>

    <form action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" name="user[name]" id="username">
      <label for="password">Password</label>
      <input type="text" name="user[password]" id="password">
      <input type='submit' name='submit' id='submit' value='Log In'>
    </form>
